.Toastify__toast {
  width: 22rem;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  background-color: var(--color-white) !important;
  box-shadow: var(--shadow-s3) !important;
  backdrop-filter: blur(3px);
  border-radius: 6px !important;
}

.Toastify__progress-bar--success {
  background-color: var(--color-green) !important;
}

.Toastify__progress-bar--error {
  background-color: var(--color-red-error) !important;
}

.Toastify__progress-bar--info {
  background-color: var(--color-secondary-300) !important;
}

.Toastify__progress-bar--warning {
  background-color: var(--color-primary-300) !important;
}

@media (max-width: 1023px) {
  .Toastify__toast {
    width: 18rem;
  }
}

@media (max-width: 480px) {
  .Toastify__toast-container {
    padding: 0.5rem !important;
    gap: 0.5rem !important;
  }
}