.scrollbarCustom {
  overflow-y: auto;
}

.scrollbarCustom::-webkit-scrollbar {
  width: 0.2rem;
}

.scrollbarCustom::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-1000);
  border-radius: 1rem;
  cursor: pointer;
}

.scrollbarCustom::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.4);
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .scrollbarCustom::-webkit-scrollbar {
    width: 0.3rem;
  }
}